@charset "utf-8";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* 버튼예시 */
.btn-download::before{
    content: "🍣";
    color: cornflowerblue;

}
.btn-download{
    padding: 10px 20px;
    background-color: darkgreen;
    color: rgba(140, 178, 211,);
    border: none;
    border-radius: 5px;
}
.btn-download::after{
    content: "🍟";
    color: blue;
    margin-left: 10px;
}
/* 말풍선 꼬리 만들기 */
.tooltip{
    position: relative;
    width: 100px;
    background-color: #333;
    padding: 10px;
    color: #fff;
    border-radius: 5px;
}
.tooltip::after{
    content: "";
    position: absolute;
    top: 100%;
    left: 76px;
    border: 5px solid transparent;
    border-top-color:#333 ;
}
p{

}
/* 구분선 텍스트 */
.divider{
    position: relative;
text-align: center;
background-color: deepskyblue;
}
.divider::before,.divider ::after{
    vertical-align: middle;
    content: "";
    display: inline-block;
    width: 10%;
    height: 1px;
    background-color: #ccc;
}
.divider::after{
margin-right: 10px;
}
.divider::before{
margin-left: 10px;
}
/* 메뉴 구분선 */
.menu{
    background-color: deeppink;
    display: flex;
    gap: 20px;
    
}
.menu a{
    padding: 0 10px;
    position: relative;
    color: #333;
    text-decoration: none;

}
.menu a::after{
    content: "";
    width: 1px;
    height: 12px;
    background-color: #333;
    display: inline-block;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(50%);
}
